<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" action="" method="post" id="registerForm">
              <div class="form-label-group">
                <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>
                <label for="username"></label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password" class="form-control" name="password" placeholder="Your Password" required>
                <label for="password"></label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Full Name" required>
                <label for="fullname"></label>
              </div>
              
              <div class="form-label-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                <label for="email"></label>
              </div>
			  <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" id="registerRetailerButton"><i class="fab fa-google mr-2"></i> Register as retailer</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" id="registerAccountantButton"><i class="fab fa-facebook-f mr-2"></i> Register as accountant</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
<script>
  const registerForm = document.querySelector('#registerForm')

  const registerRetailerButton = document.querySelector('#registerRetailerButton')
  registerRetailerButton.addEventListener('click',(e)=>{
    registerForm.action = '/retailer/register'
  })

  const registerAccountantButton = document.querySelector('#registerAccountantButton')
  registerAccountantButton.addEventListener('click',(e)=>{
    registerForm.action = '/accountant/register'
  })
</script>
</html>