<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="/style.css" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="teacher.php">Company T^T</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="teacher.php">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/retailer/logout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content-wrapper">
		<div class="container container--margin">
			<div data-role="control" data-type="form-header" data-hash="00000002" data-type-id="27" data-colspan="20"
				id="form-heading-00000002-acc" aria-labelledby="form-heading-00000002-acc" data-i18n-html="Headline">
				<h1>Online Order Form</h1>
				<p style="font-size:14px;">
					Please fill in the order form below with the
					items you want to purchase from our store.
					Thank you for choosing our services!
				</p>
				<hr>
			</div>
			<font color="red" align="center">

			</font>
			<div class="col-md-12">
				<!--    Bordered Table  -->
				<div class="panel panel-default">
					<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
					<form action="/retailer/order/search" target="dummyframe" id="searchform">
						<div class="panel-heading input-group mb-3">
							<input type="text" placeholder="Search.." class="form-control" id="productname"
								name="productname" autocomplete>
							<div class="input-group-append ml-3">
								<button class="btn btn-outline-secondary px-4" id="addBtn" type="button">Add</button>
							</div>
							<hr>
						</div>
					</form>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive table-bordered">
							<table class="table" id="list">
								<thead>
									<tr>
										<th>Product name</th>
										<th>price</th>
										<th>Remaining</th>
										<th>Manufacturer</th>
										<th>Quantity</th>
										<th>Total price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>
											<div contenteditable></div>
										</td>
										<td></td>
									</tr>


								</tbody>
							</table>
						</div>

						<div class="table-responsive table-bordered">
							<table class="table">
								<thead>
									<tr>
										<h3 for="paymentform">Delivery Infomation Form</h3>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Delivery phone number</td>
										<td><input type="text" class="form-control" id="deliveryphonenumber"
												name="deliveryphonenumber" value=" " required /></td>
									</tr>
									<tr>
										<td>Delivery address</td>
										<td><input type="text" class="form-control" id="deliveryaddress"
												name="deliveryaddress" value=" " required /></td>
									</tr>
									<tr>
										<td>Order total cost</td>
										<td>
											<div id="totalamount" name="totalamount"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class=" table-responsive table-bordered">
							<table class="table">
								<thead>
									<tr>
										<h3 for="paymentform">Payment method</h3>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<button class="btn btn-primary"
												onclick="changePaymentMethod('transaction');openCity(event, 'Credit Card')"><i
													class=" fa fa-refresh ">Transaction</button>

										</td>
										<td>
											<button class=" btn btn-primary"
												onclick="changePaymentMethod('momo');openCity(event, 'Momo')"><i
													class=" fa fa-refresh ">Momo</button>
										</td>
										<td>
											<button class="btn btn-primary"
												onclick="changePaymentMethod('incash');openCity(event, 'Cash')"> <i
													class=" fa fa-refresh "></i>In cash</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="Credit Card" class="tabcontent">
							<table class="table">
								<thead>
									<tr>
										<h4>Credit Card</h4>
									</tr>
								</thead>
								<tbody>
									<tr>
										Card Holder Name:<input type="text" class="form-control" id="creditcardname"
											name="creditcardname" placeholder="Order Customer Name" value=" "
											required />
									</tr>
									<tr>
										Card Number:<input type="text" class="form-control" id="creditcardnumber"
											name="creditcardnumber" placeholder="Order Customer Name" value=" "
											required />
									</tr>
									<tr>
										<td>MM/YY:<input type="month" class="form-control" id="creditcarddate"
												name="creditcarddate" placeholder="Order Customer Name" value=" "
												required />
										</td>
										<td>ZIP:<input type="text" class="form-control" id="creditcardzip"
												name="creditcardzip" placeholder="Order Customer Name" value=" "
												required /></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="Momo" class="tabcontent">
							<h3>Momo</h3>
							<p>This function is under development.</p>
						</div>

						<div id="Cash" class="tabcontent">
							<h3>Cash</h3>
							<p>Your order payment will be confirmed later.</p>
						</div>
						<button type="Payment" name="Payment" class="btn btn-primary" id="checkoutBtn"><i
								class=" fa fa-refresh "></i>
							Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script>
		function openCity(evt, cityName) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>
	<script src="/scripts/makeorder.js"></script>
</body>

</html>